#AA {
  background: grey;
#A {
  size: 75px;
  border-style: solid;
  border-color: black;
  border-width: 10px;
  align-text: center
}
#B {
  size: 35px;
  border-style: solid;
  border-color: black;
  border-width: 10px;
  align-text: center;
}
#C {
  color: grey;
  text-size: 18px;
  align-text: left;
}
#D {
  size: 18px;
  align-text: left;
}
#E {
  color: black;
  align-text: left;
}
#F {
  align-text: center;
  color: black;
  text-size: 75px;
}
#G {
  border-style: dotted;
  border-width: 8px;
  border-color: black;
  align-border: right, 35px;

}
